[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "biobricks"
version = "0.0.1"
authors = [
  { name="Jose A. Jaramillo", email="jjv@utp.edu.co" },
]
description = "Biobricks automates bioinformatics data."
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/insilica/biobricks"
"Bug Tracker" = "https://github.com/insilica/biobricks/issues"