[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "biobricks"
version = "0.1.66"
authors = [
  { name="Jose A. Jaramillo", email="jjv@utp.edu.co" },
  { name="Thomas Luechtefeld", email="tom@insilica.co" }
]
description = "Biobricks automates bioinformatics data."
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
  'pyarrow',
  'dvc[all]',
  'pytest-cov',
  'logger',
  'click',
  'cloup ~= 2.0.0'
]

[project.urls]
"Homepage" = "https://github.com/biobricks-ai/biobricks"
"Bug Tracker" = "https://github.com/biobricks-ai/biobricks/issues"

[project.scripts]
biobricks = "biobricks.cli:cli"